<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.tradeup.mapper.MemberMapper">
	<!-- 아이디 중복 -->
	<select id="selectMemberDup" resultType="map">
		SELECT *
		FROM MEMBER
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 메일 중복 -->
	<select id="selectMemberDupMail" resultType="map" parameterType="map">
		SELECT *
		FROM MEMBER
		WHERE member_e_mail = concat(#{mail1} , "@" , #{mail2})
	</select>
	
	<!-- 휴대폰 중복 -->
	<select id="selectMemberDupPhone" resultType="map">
		SELECT *
		FROM MEMBER
		WHERE member_phone_num = #{member_phone_num}
	</select>
	
	<!-- 회원가입 등록 -->
	<insert id="insertMember">
		INSERT
			INTO MEMBER
			(member_name, member_nick_name, member_id, member_passwd, member_e_mail, member_email1, member_email2, member_insert_date, member_phone_num, <if test="!member_birth.equals('')">member_birth, </if> member_state)
			VALUES (
				  #{member_name}
				, #{member_nick_name}
				, #{member_id}
				, #{member_passwd}
				, CONCAT(#{member_email1}, '@', #{member_email2})
				, #{member_email1}
				, #{member_email2}
				, now()
				, #{member_phone_num}
				<if test="!member_birth.equals('')">
					, #{member_birth}
				</if>
				, '회원'
			)
	</insert>
	
	<!-- 전화번호로 아이디 찾기 -->
	<select id="selectMemberToPhone" resultType="map">
		SELECT *
		FROM MEMBER
		WHERE member_phone_num = #{member_phone_num}
	</select>
	
	<!-- 전화번호로 아이디 찾기 -->
	<select id="selectMemberEmail" resultType="string">
		SELECT member_e_mail
		FROM MEMBER
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updateMemberPasswd">
		UPDATE MEMBER
		SET member_passwd = #{securePasswd}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 로그인 -->
	<select id="selectMemberLogin" resultType="map">
		SELECT *
		FROM MEMBER
		WHERE member_id = #{member_id}
	</select> 
	
	<!-- 카카오 아이디 유무 확인 -->
	<select id="selectMemberKakaoLogin" resultType="map">
		SELECT *
		FROM MEMBER
		WHERE kakao_id = #{kakao_id}
	</select>
	
	<!-- 카카오 아이디 업데이트 -->
	<update id="updateKakaoId">
		UPDATE MEMBER
		SET kakao_id = #{kakao_id}
		WHERE member_id = #{member_id}
	</update>
	
	<update id="updateCommission">
		UPDATE COMMITION_ACCOUNT
		SET commissions = commissions + (SELECT commission
											FROM WITHDRAW
											WHERE merchant_uid = #{merchant_uid})
		WHERE account_idx = 1;
	</update> 
	<select id="getNaverAccessToken" resultType="map">
    	SELECT *
		FROM MEMBER
		WHERE naver_id = #{id}
   	</select>
   	<update id="insertNaver">
   		UPDATE MEMBER
   		SET naver_id = #{naver_id}
   		WHERE member_id = #{member_id}
   	</update>
</mapper>