<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.tradeup.mapper.ShopMapper">
	
	<!-- 상품 등록 -->
   	<insert id="registProduct">
		INSERT INTO PRODUCT
		VALUES (null
				,#{member_id}
				,#{product_name}
				,#{product_price}
				,#{product_info}
				,now()
				,#{category_idx}
				,#{file_name}
				,#{trading_method}
				,#{product_status}
		 		,#{trading_location}
				,'판매중'
				,#{delivery_method}
			   )
	</insert>
	
	<!-- 상품 이미지 등록 -->
   	<insert id="registProductImg">
		INSERT INTO PRODUCT_IMG
		VALUES (null
				,(SELECT Max(product_num) as product_num
				    FROM PRODUCT)
				,#{product_image}
			   )
	</insert>
	
	<!-- 상품 상세조회 -->
	<select id="getProduct" resultType="map">
		SELECT *
   		  FROM PRODUCT
   		 WHERE product_num = #{product_num}
	</select>
	
	<!-- 상품 상세조회 이미지 -->
	<select id="getProductImg" resultType="map">
		SELECT *
   		  FROM PRODUCT_IMG
   		 WHERE product_num = #{product_num}
	</select>
	
	<!-- 카테고리 조회 -->
	<select id="getCategory" resultType="map">
		SELECT C.category_name
		  FROM CATEGORY C
		  JOIN PRODUCT P ON P.category_idx = C.category_idx
		 WHERE P.product_num = #{product_num}
	</select>
	
	<!-- 판매자 상품 조회 -->
	<select id="getSellerProduct" resultType="map">
		SELECT *
		  FROM PRODUCT
		 WHERE member_id = #{member_id}
	</select>
	
	<!-- 판매자 상품 개수 -->
	<select id="getSellerCount">
		SELECT Count(member_id)
		  FROM PRODUCT
		 WHERE member_id = (SELECT member_id
		 		  			  FROM PRODUCT
							 WHERE product_num = #{product_num})
	</select>
	
	<!-- 최신 상품 조회 -->
	<select id="selectProductList" resultType="map">
		SELECT *
		  FROM PRODUCT
		 WHERE sales_status = '판매중'
	  ORDER BY product_release DESC
	</select>
	
	<!-- 찜 갯수 -->
	<select id="selectJJim">
		SELECT COUNT(F.favorite_idx) as C
		  FROM PRODUCT P
		  JOIN FAVORITE F ON P.product_num = F.product_num
		 WHERE P.product_num = #{product_num} AND sales_status = '판매중'
	  GROUP BY P.product_num
	  ORDER BY C desc
	</select>
	
	<!-- 판매자 판매 개수 -->
	<select id="selectSellCount">
		SELECT count(sales_status)
		  FROM PRODUCT
 		 WHERE (SELECT count(sales_status)
		  		  FROM PRODUCT
		 		 WHERE member_id = #{member_id}) = '거래완료'
	</select>
	
	<!-- 카테고리별 조회 -->
	<select id="categoryProductList">
		SELECT *
		  FROM PRODUCT
		 WHERE sales_status = '판매중' AND category_idx = (SELECT category_idx
															 FROM CATEGORY
															WHERE category_name = #{category_name})
	  ORDER BY product_release DESC
	</select>

	<!-- 최신 목록 -->
	<select id="lastProductList">
		SELECT *, SUBSTRING_INDEX(product_release, 'T', 1) as productRelease
		  FROM PRODUCT 
		 WHERE sales_status = '판매중' AND category_idx = (SELECT category_idx
															 FROM CATEGORY
															WHERE category_name = #{category_name})
	  ORDER BY product_release desc
	</select>
	
	<!-- 찜 목록 -->
	<select id="jjimProductList">
		SELECT P.product_num, category_idx, product_name, product_main_img, product_price, product_release, trading_location, sales_status, COALESCE(COUNT(F.favorite_idx), 0) AS C
		  FROM PRODUCT P
	 LEFT JOIN FAVORITE F ON P.product_num = F.product_num
		 WHERE sales_status = '판매중' AND category_idx = (SELECT category_idx
															 FROM CATEGORY
															WHERE category_name = #{category_name})
	  GROUP BY P.product_num
	  ORDER BY C desc
	</select>
	
	<!-- 높은 가격 목록 -->
	<select id="highProductList">
	  SELECT *, replace(replace(product_price, "원", "") , ",", "") as p
		FROM PRODUCT
	   WHERE sales_status = '판매중' AND category_idx = (SELECT category_idx
														   FROM CATEGORY
														  WHERE category_name = #{category_name}) 
	ORDER BY cast(p as unsigned) desc
	</select>
	
	<!-- 낮은 가격 목록 -->
	<select id="lowProductList">
	  SELECT *, replace(replace(product_price, "원", "") , ",", "") as p
		FROM PRODUCT
	   WHERE sales_status = '판매중' AND category_idx = (SELECT category_idx
														   FROM CATEGORY
														  WHERE category_name = #{category_name}) 
	ORDER BY cast(p as unsigned)
	</select>
	
	<!-- 판매중 목록 -->
	<select id="selectAllCount">
	  SELECT count(product_num)
		FROM PRODUCT
	   WHERE sales_status = '판매중'
	</select>

	<!-- 상품 수정 -->
	<update id="updateProduct">
		UPDATE PRODUCT
		   SET product_name = #{product_name}
			   , product_price = #{product_price}
			   , product_info = #{product_info}
			   , product_release = #{product_release}
			   , product_main_img = #{file_name}
			   , trading_method = #{trading_method}
			   , product_status = #{product_status}
			   , trading_location = #{trading_location}
			   , sales_status = #{sales_status}
			   , delivery_method = #{delivery_method}
		 WHERE product_num = #{product_num}
	</update>
	
   	<!-- 상품 이미지 삭제 -->
	<delete id="delectProductImg">
   		DELETE
   		  FROM PRODUCT_IMG
		 WHERE product_num = #{product_num}
   	</delete>
   	
   	<!-- 상품 이미지 수정 -->
   	<insert id="updateProductImg">
		INSERT INTO PRODUCT_IMG
		VALUES (null
				, #{product_num}
				, #{product_image}
			   )
	</insert>
	
</mapper>